@{
    Layout = "Layout";
}

<h2>Admin Panel</h2>

<div>
    <p>Witaj w panelu administracyjnym.</p>
    <ul>
        <li class="nav-item">
            <a class="nav-link" href="/Admin/ManageProducts">ManageProducts</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Admin/Statistics">Statistics</a>
        </li>
    </ul>
</div>
