@{
    Layout = "Layout";
}

<h2>Statystyki</h2>

<div>
    <p>Podsumowanie sprzedaży i użytkowników.</p>
    <p>Liczba zamówień: @Model.OrderCount</p>
    <p>Liczba użytkowników: @Model.UserCount</p>
</div>
