@{
    Layout = "Layout";
}
@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success mt-3">@TempData["SuccessMessage"]</div>
}

@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger mt-3">@TempData["ErrorMessage"]</div>
}
<div class="form-container">
    <div class="form-content">
        <h2 class="text-center">Zapomniałeś hasła?</h2>
        <form asp-action="SendPasswordResetEmail" asp-controller="Authentication" method="post" class="mt-4">
            <div class="mb-3">
                <label for="email">Podaj swój adres e-mail</label>
                <input type="email" id="email" name="Email" class="form-control" placeholder="Wpisz swój e-mail" required />
            </div>

            <div class="mb-3">
                <button type="submit" class="btn btn-primary">Wyślij link resetujący hasło</button>
            </div>
        </form>
        <div class="text-center">
            <a href="@Url.Action("LoginPage", "Authentication")" class="link-primary">Zaloguj się</a>
        </div>
    </div>
    <img src="~/Images/ForgotPassBG.jpg" class="form-image" style="background-image">
</div>


