<footer class=" footer bg-light text-center text-lg-start mt-4">
    <div class="container-fluid p-4">
        <div class="row">
            <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
                <h5 class="text-uppercase">PumpPalace</h5>
                <p>We are dedicated to providing high-quality products to make your experience unforgettable.</p>
            </div>
            <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
                <h5 class="text-uppercase">Quick Links</h5>
                <ul class="list-unstyled">
                    <li><a href="/" class="text-dark">Home</a></li>
                    <li><a href="/Product/ProductList" class="text-dark">Products</a></li>
                </ul>
            </div>
            <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
                <h5 class="text-uppercase">Contact Us</h5>
                <ul class="list-unstyled">
                    <li><p>Email: <a href="mailto:info@pump-palace.com" class="text-dark">info@pump-palace.com</a></p></li>
                    <li><p>Phone: +1 (555) 123-4567</p></li>
                </ul>
            </div>
        </div>
    </div>

    <!-- Copyright Section -->
    <div class="text-center p-3" style="background-color: #f1f1f1;">
        © 2024 PumpPalace:
        <a class="text-dark" href="https://www.pump-palace.com/">www.pump-palace.com</a>
    </div>
</footer>
