/* Karty produktów */
.card {
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    transition: transform 0.3s ease;
}

    .card:hover {
        transform: scale(1.05);
    }

/* Stylizacja tabeli w koszyku */
.table-bordered {
    border: 1px solid #ddd;
}

    .table-bordered th, .table-bordered td {
        padding: 10px;
        text-align: center;
    }

.text-danger {
    color: red;
}

.text-success {
    color: green;
}

/* Przycisk usuwania */
.btn-danger {
    background-color: #ff4d4d;
    border: none;
    color: white;
}
