@{
    Layout = "Layout";
}

<h2>Nowości</h2>

<div>
    <ul>
        @foreach (var product in Model.NewDrops)
        {
            <li>@product.Name - @product.Price</li>
        }
    </ul>
</div>
